h2
{
                color: rgb(39, 31, 187);
            font-size: 30px;
        }

.standout
{
    color: rgb(35, 176, 215);
    font-size: 50px;
}

p1:hover{
    background:green;
}

.image1{
    border-radius: 50%;
}

.image2:hover{
    border-radius: 30px;
}

.image3:hover{
    opacity: 0.8;
}

.image4:hover{
    filter: grayscale(70%);
}

.image5:hover{
    filter: blur(5px);
}